.houseId {
  padding: 25px;
  border: 5px solid var(--navyBlue);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
}
.card {
  transition: all 0.3s ease;
  margin-bottom: 20px;
  padding: 25px;
}

@media (hover: hover) {
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media (hover: none) {
  .card:hover {
  }
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.container.active {
  opacity: 40%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.houseStatus {
  font-size: 12px;
  margin-bottom: 5px;
}
.houseInformation,
.houseInterval {
  word-break: keep-all;
  color: var(--grey);
  font-size: 10px;
}
.housemanStatus__card {
  flex: 1 1 250px;
}
.houseInformations {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
  flex: 0 1 700px;
}

.red {
  color: var(--error);
}

.blue {
  color: var(--navyBlue);
}

@media (min-width: 500px) {
  .houseStatus {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .houseInformation,
  .houseInterval {
    word-break: keep-all;
    color: var(--grey);
    font-size: 15px;
  }
}

.btns {
  display: flex;
  gap: 10px;
}
