:root {
  --navyBlue: #236092;
  --grey: #b8b8b8;
  --error: #e84900;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: top;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
}

.wrapper {
  padding: 0px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 1300px;
}
.main {
  flex: 1 1 auto;
}

#root {
  height: 100%;
}
