@font-face {
  font-family: 'Etna';
  src: url('./fonts/etna.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/etna.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./fonts/etna.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/etna.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./fonts/etna.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/etna.svg#etna') format('svg'); /* Chrome < 4, Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --navyBlue: #236092;
  --blackNavyBlue: #1f4e75;
  --grey: #b8b8b8;
  --error: #e84900;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: top;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
}

.wrapper {
  padding: 0px 10px;
  height: 100%;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  flex-direction: column;
}
.container {
  flex: 1 1 auto;
}

#root {
  height: 100%;
}
